body#LoginForm{ background-image:url("http://www.carahsoft.com/wordpress/wp-content/uploads/2017/02/Okta-Security-2025x1519.jpeg"); 
                background-repeat:no-repeat; 
                
                background-size:cover; padding:10px;}

.form-heading { color:#fff; 
               font-size:20px;
               text-align: center;
               margin: 20px 0 20pxpx 0;
}
.panel h2{ color:#444444; font-size:18px; margin:0 0 5px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  line-height: 50px;
}
.main-div {
  background: #ffffff9e none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 50%;
  padding: 30px 50px 50px 51px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
/*  height: 40px;*/
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
