body{
    text-align: center;
    background-image: url('http://www.carahsoft.com/wordpress/wp-content/uploads/2017/02/Okta-Security-2025x1519.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-form{
    background: #fffc;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 10px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 9%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #0062cccf;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}